#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main-container {
  height: 80vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  border: 1px solid #ccc;
  max-width: 170px;
  overflow: auto;
}

thead {
  background-color: #f2f2f2;
}

input {
  padding: 8px;
  display: block;
  margin: 0 auto;
  margin-bottom: 16px;
  border-radius: 4px;
  border: 1.5px solid rgba(0, 0, 0, 0.473);
}
.header {
  text-align: left;
}
.empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50%;
  font-size: 24px;
  font-weight: bold;
}
button {
  margin: 4px;
  padding: 8px 16px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}
button:hover {
  background-color: green;
}
.search-input {
  display: inline-block;
}
button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.modal-window {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  z-index: 1;
}
.modal-window-content {
  padding: 0 24px 12px;
  margin: auto;
  background: white;
  border-radius: 12px;
}
form {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.error-message {
  color: red;
}
.actions-td {
  overflow: visible;
}
